<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>
<%= form_tag(articles_update_path article_id: @article.id) do %>
  <%= text_area_tag :content, @article.content %>
  <br/><br/>
  <%= submit_tag 'Update' %>
<% end %>