<div class='container'>
  <% @articles.each do |article| %>
    <div class='row card-row'>
      <div class='col-sm-2'>
      </div>
      <div class='col-sm-8 card'>
        <p>
          <%= article.content %>
          <% if @edit %>
            <%= link_to 'edit', articles_edit_path(article: { id: article.id }) %>
            <%= link_to 'destroy', articles_destroy_path(article: { id: article.id }), method: 'delete'  %>
          <% end %>
        </p>
      </div>
      <div class='col-sm-2'>
      </div>
    </div>
  <% end %>
</div>