<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
    </div>
    <div class='col-sm-4' id='content'>
      <% @articles.each do |article| %>
        <p>
          <%= article.content %>
          <% if @edit %><%= link_to 'edit', articles_edit_path(article: { id: article.id }) %><% end %>
        </p>
      <% end %>
    </div>
    <div class='col-sm-4'>
    </div>
  </div>
</div>